body {
  background-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Source Sans Pro", serif;
}

a {
  text-decoration: none;
}

label, p, h1, h2, h3, h4, h5, h6 {
  color: #24292e;
}

.row {
  display: flex;
}


select {
  width: 287px;
  padding: 5px 20px;
  height: 36px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  &.primary {
    border-color: #a39d9b;
    background-color: #766d6a;
    color: #fff;
  }
  &.secondary {
    border-color: #979797;
    background-color: #f8f8f8;
    color: #333;
  }
  &:focus {
    outline: 0;
  }
}

p, td, tr, th {
  color: #766d6a;
}