.flex--row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.flex--col.across--revenue, .flex--col.across--units {
  width: calc((100% - 20px) / 2);
  margin-bottom: 20px;
}

.flex--col.across--units {
  margin-left: 20px;
}

.flex--col.across--genres__revenue, .flex--col.across--genres__units, .flex--col.across--companies__genre__units {
  width: calc((100% - 20px) / 2);
  //height: 600px;
}

.flex--col.across--companies__units {
  width: calc((100% - 20px) / 2);
  display: flex;
  //height: 600px;
}

.flex--col canvas {
  //max-height: 600px;
}

.flex--col.flex--col.across--genres__units {
  margin-left: 20px;
}

.flex--col {
  align-items: center;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 #dfdfdf;
  padding: 20px;
  .card {
    width: 100%;
  }
}

 @media only screen and (max-width: 900px) {
    .flex--row {
      flex-direction: column;
    }

    .flex--col {
      margin-bottom: 20px;
      margin-left: 0px !important;
    }
  }