@import "./../sass/variables.scss";

.dashboard--filters {
  padding: 20px;
  height: 64px;
  width: 100%;
  background-color: $theme-text;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .row .col:not(:last-child) {
    margin-right: 10px;
  }

  h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
  }

  .date--filter {
    position: relative;
    span{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%); 
    }

    span svg {
      fill: #fff;
    }
  }
}