table {
  width: 100%;
  border: 0px solid #c8e1ff;
  border-collapse: collapse;
  border-color: #e6e6e6;
  // background-color: #fff;
  a {
    color: #0366d6;
  }
}

.table--state__loading {
  text-align: center;
}

.table--state__no-data {
  text-align: center;
}

td, th {
  padding: 6px 10px;
  position: relative;
}

td a:hover {
  text-decoration: underline
}

thead tr th {
  border: 0;
}

table tbody tr:hover {
  background-color: #483c38;
  td {
    color: #fff;
  }
}

.table--action-menu {
  background: #fff;
  box-shadow: 0 2px 4px 0 #9b9b9b;
  border-radius: 5px;
  a {
    cursor: pointer;
    display: block;
    padding: 5px 20px;
    color: #333;
  }
  a:hover {
    background: #f1f8ff;
  }
}


.ui--align__left {
  text-align: left;
}

.ui--align__center {
  text-align: center;
}